@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32px;
    margin-top: 10px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.player {
    padding: 10px;
    border: 2px solid #0000ff;
    border-radius: 8px;
    width: 150px;
    background-color: #f5f5f5;
    margin: 0 20px;
}

#currentPlayer {
    font-size: 20px;
    margin: 10px;
}

.marks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.mark {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 24px;
    width: 250px;
}

.mark span {
    display: inline-block;
    width: 50px;
    text-align: center;
}

button {
    display: inline-block;
    margin: 5px;
    padding: 15px;
    font-size: 24px;
    font-family: 'Permanent Marker', cursive;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 80px;
    height: 80px;
}

button:hover {
    background-color: deepskyblue;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 24px;
}
