@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32px;
    margin-top: 5px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.vertical-column1 {
    position: absolute;
    top: calc(50px + 15px); /* Adjust this value to match the height of your header */
    left: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mpr-player1::after {
    font-family: 'Permanent Marker', cursive;
    content: " MPR";
}

.mpr-player2::after {
    font-family: 'Permanent Marker', cursive;
    content: " MPR";
}

.vertical-column2 {
    position: absolute;
    top: calc(50px + 5px); /* Adjust this value to match the height of your header */
    right: 27.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.player {
    border: 3px solid #007bff;
    border-radius: 8px;
    width: 150px;
    margin-bottom: 10px;
}

.player-score {
    font-size: 24px;
}

.player-mpr {
    font-size: 20px;
    color: #007bff;
    margin-top: 5px;
}

#currentPlayer {
    font-size: 20px;
    margin: 10px;
}

.marks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: 45px; /* Add this line to shift the marks div down */
    width: 50%;
}

.mark {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Change from center to space-between */
    font-size: 36px;
    width: 75%;
}

.mark span {
    display: inline-block;
    width: 50px;
    text-align: center;
}

button {
    display: inline-block;
    margin: 3px;
    font-size: 24px;
    font-family: 'Permanent Marker', cursive;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 90px;
    height: 70px;
    text-align: center;
    vertical-align: middle; 
}

button:hover {
    background-color: deepskyblue;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    width: 41%;
    margin: 0 auto; 
}


.popup-gif {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.popup-gif img {
    width: 300px; /* Adjust the size as needed */
    height: auto;
}

.popup-gif2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.popup-gif2 img {
    width: 900px; /* Adjust the size as needed */
    height: auto;
}